PORT=3000
DATABASE_URL="postgresql://postgres:password@localhost:5432/crypto_advisor?schema=public"
JWT_SECRET=YOUR_SECRET_KEY_HERE
CRYPTOPANIC_API_KEY=your_key
HUGGINGFACE_API_KEY=your_huggingface_token_here